html{
    background-color: var(--bg-color);
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

:root {
    --main-color: #1779cf;
    --bg-color: #252629;
    --bg-secondary-color: #404043;
    --secondary-color: #0088ff;
    --bttn-color: #F7F9F9;
    --bttn-bg-color: #444444;
    --bttn-color-hover: #F7F9F9;
    --bttn-bg-color-hover: #1779cf;
    --bttn-color-dissabled: #615a5a;
    --bttn-bg-color-dissabled: #363131;
    --bttn-green-color: #20722b;
    --bttn-yellow-color: #bbb01e;
    --bttn-red-color: #bb1e1e;
}

#mssg-container::-webkit-scrollbar {
    width: 5px;
    width: 5px;
}
#mssg-container::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #000000;
}

#mssg-container::-webkit-scrollbar-track:hover {
  background-color: #000000;
}

#mssg-container::-webkit-scrollbar-track:active {
  background-color: #000000;
}

#mssg-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #075200;
}

#mssg-container::-webkit-scrollbar-thumb:hover {
  background-color: #00B000;
}

#mssg-container::-webkit-scrollbar-thumb:active {
  background-color: #00B000;
}

*::-webkit-scrollbar {
    width: 5px;
    width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #163753;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1779cf;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #1779cf;
}

::selection {
    background: #ffffff00;
}

#mssg-container *::selection {
    background: #00B000;
    color: #000000;
}

.project-section input::selection,
.result::selection {
    background: var(--secondary-color);
    color: var(--bg-secondary-color);
}

.units::selection {
    background: var(--bg-secondary-color);
    color: var(--secondary-color);
}

@font-face {
    font-family: SCPR;
    src: url(./fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: SCPB;
    src: url(./fonts/SourceCodePro-Black.ttf);
}

@font-face {
    font-family: RevuePEE;
    src: url(./fonts/RE02000P.TTF);
}

.SimpleSerial-modal-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: var(--bg-color);
    z-index: 999999;
}

.SimpleSerial-modal-inner{
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--bg-secondary-color);
    color: var(--bttn-color);
    font-family: 'SCPB';
    font-size: 2rem;
    text-align: center;
}

.SimpleSerial-modal-inner p{
    color: #ef7070;
    display: inline-block;
    margin: 12px;
}

.SimpleSerial-modal-inner button{
    display: inline-block;
    padding: 8px;
    font-size: 2rem;
    background-color: var(--bttn-green-color);
    color: var(--bttn-color);
    border-radius: 8px;
    border: none;
    font-family: 'SCPB';
    cursor: pointer;
    transition: all .2s;
}

.SimpleSerial-modal-inner button:hover{
    background-color: var(--bttn-color);
    color: var(--bttn-green-color);
}

header{
    width: 80%;
    margin: auto;
    pointer-events: none;
}

header h1 {
    font-family: RevuePEE;
    color: var(--main-color);
    font-size: 4rem;
    margin: 72px 0 72px 0px;
    float: left;
}

header h2{
    font-family: 'SCPR';
    color: var(--main-color);
    font-size: 3.6rem;
    margin: 72px 0 0 0px;
    float: right;
}

#console-wrapper{
    position: absolute;
    left: 0;
    top: -500px;
    right: 0;
    background-color: #202124;
    border-radius: 0 0 8px 8px;
    transition: all .2s ease-in-out;
    z-index: 999999;
    box-shadow: 0px 0px 0px #161616;
}

#console-wrapper.active{
    top: -8px;
    box-shadow: 0px 128px 128px #161616;
}

#console-tggl-bttn{
    display: block;
    position: absolute;
    bottom: -26px;
    right: 8px;
    width: 32px;
    height: 26px;
    background-color: #202124;
    border-radius: 0px 0 8px 8px;
    color: #d3d3d3;
    font-family: cursive;
    text-align: center;
    cursor: pointer;
}

#mode-tggl-bttn{
    display: block;
    position: absolute;
    bottom: -26px;
    right: 54px;
    padding: 0px 16px;
    height: 26px;
    background-color: #202124;
    border-radius: 0px 0 8px 8px;
    color: #d3d3d3;
    font-family: 'SCPR';
    text-align: center;
    cursor: pointer;
}

#mssg-wrapper{
    height: 400px;
    padding: 20px;
    background-color: #000000;
    margin-bottom: 5px;
    border-radius: 8px;
}

#mssg-container{
    height: 100%;
    color: #7fff00;
    overflow-y: scroll;
    font-size: 1rem;
}

#mssg-container span{
    display: block;
}

#mssg{
    width: calc(100% - 100px);
    border: 0;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

#send-bttn{
    width: 76px;
    border: 0;
    background-color: #000000;
    color: #7fff00;
    padding: 10px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

span.green{
    color: #7fff00;
}

span.yellow{
    color: #ffee00;
}

span.red{
    color: #ff0000;
}

.tab{
    display: inline-block;
    -webkit-text-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.tab:not(.active){
    display: none;
}

.project-app-wrapper,
.scale-app-wrapper{
    position: relative;
    display: block;
    width: 80%;
    font-family: SCPB;
    margin: auto;
}

.digits{
    position: relative;
    width: calc(100vw * 0.8 - 76px);
    margin-bottom: 12px;
    font-size: 8rem;
    text-align: end;
    color: var(--secondary-color);
    overflow: hidden;
}

.digits.tare{
    color: var(--bttn-yellow-color);
}

.digits.tare::before{
    content: "TARA";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 26px 24px;
}

.result{
    margin-right: 190px;
}

input.result{
    background-color: transparent;
    font-size: 8rem;
    text-align: end;
    color: var(--secondary-color);
    font-family: 'SCPB';
    border: none;
}

.units{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 26px 24px;
    color: var(--bg-secondary-color);
    background-color: var(--secondary-color);
}

.tare .units{
    background-color: var(--bttn-yellow-color);
}

.scale-element{
    background-color: var(--bttn-bg-color);
    border-radius: 8px;
    padding: 24px 36px;
    margin-bottom: 8px;
    -webkit-text-wrap: wrap;
    transition: all .2s;
}

.tab[data-title~="WAGA"] .scale-element:nth-of-type(3){
    margin-left: 9px;
    margin-right: 10px;
}

.tab[data-title~="WAGA"] .scale-element:nth-of-type(6){
    margin-left: 9px;
}

.tab[data-title~="WAGA"] .scale-element:nth-of-type(7){
    margin-left: 9px;
    margin-right: 10px;
}

.scale-button{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--bttn-color);
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.scale-button.busy::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-image: url(./images/spinner.png);
    background-position: center;
    background-size: contain;
    margin: auto;
    animation-name: spinner;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.scale-button.dissabled{
    background-color: var(--bttn-bg-color-dissabled);
    color: var(--bttn-color-dissabled);
    pointer-events: none;
}

.scale-button.green{
    background-color: var(--bttn-green-color);
}

.scale-button:hover{
    background-color: var(--bttn-bg-color-hover);
    color: var(--bttn-color-hover);
}

.scale-button span{
    position: absolute;
    display: table;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0 24px;
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
}

.button-1-4{
    width: calc(24.987vw * 0.8 - 80px);
    height: calc(25vh);
    margin-top: -4px;
}

.button-1-3{
    width: calc(33.351vw * 0.8 - 80px);
    height: calc(20vh);
}

.project-section{
    position: relative;
    padding: 60px 36px;
    margin-bottom: 12px;
    background-color: var(--bttn-bg-color);
    border-radius: 8px;
    overflow: hidden;
    transition: all .2s;
}

.project-section.submit{
    height: 32px;
    margin-top: 12px;
    cursor: pointer;
}

.project-section-title{
    color: var(--bttn-color);
    text-transform: uppercase;
    font-size: 3rem;
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.project-section input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    color: var(--bg-color);
    font-family: 'SCPB';
    font-size: 3rem;
    border: 0;
    padding: 0 0 0 8px;
    box-sizing: border-box;
}

.digits-scale-button{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35%;
    padding-top: 16px;
    text-align: center;
    color: var(--bttn-color);
    background-color: var(--main-color);
    text-transform: uppercase;
    cursor: pointer;
}

.project .digits-scale-button.dissabled{
    opacity: .2;
    pointer-events: none;
}

.scale-element.digits.project.busy{
    pointer-events: none;
}

.scale-element.digits.project.busy .digits-scale-button{
    opacity: .5;
}

.project-section-submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 46px 10px;
    background-color: var(--bttn-bg-color-hover);
    color: var(--bttn-color);
    text-transform: uppercase;
    font-size: 3rem;
    box-sizing: border-box;
    text-align: center;
}

#send-project .project-section-submit.done{
    background-color: var(--bttn-green-color);
}

.project-section.dissabled,
.scale-element.dissabled{
    opacity: .2;
    pointer-events: none;
}


/* KEYFRAMES */

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}